.page {
	background: rgb(0,175,175);
}
.top-bar {
	text-align: center;
	list-style-type: none;
}
.litem{
	border: solid 1px;
	display: inline;
	margin: 25px;
	padding: 10px;
}
.pic {
	height: 200px;
	width: 500px;
	float: left;
}
.pic2{
	height: 200px;
	width: 500px;
	float: right;
}
.portrait {
	height: 370px;
	width: 302px;
	float: left;
}
.text {
	margin: 50px;
	text-align: center;
	padding-bottom: 100px;
	font-size: 18px;
}
.cont{
	margin: 50px;
}
.intro {
	margin: 50px;
	margin-bottom: 100px;
	border: 50px;
	text-align: center;
}
.form{
	text-align: center;
}
.btn {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}
table, .rowStyle{
	border: 1px solid black;
	border-collapse: collapse;
}